* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

header {
    height: 100px;
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}


header > h1 {
    padding-top: 10px;
    background-color: rgb(185, 42, 42);
}


header > nav > ul{
    padding-top: 10px;
    display: inline-flex;
    gap: 10px;
    background-color: lime;
}

header > nav > ul > li > a {
    background-color: limegreen;
    color: blue;
    padding: 10px;
}

.link:hover {
    font-size: 1.5em;
}

.camisanike {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 206px;
    margin: auto;
}

.camisanike img {
    border: 1px solid black;
    
}

.camisanike p {
    margin-bottom: 10px;
}

h1#camisasdanike {
    margin: 30px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: limegreen;
}

#div1 {
    display: inline-flex;
    align-items: center;
}

#div2 {
    display: inline-flex;
    align-items: center;
}

#div2 p {
    margin-left: 10px;
}